@tailwind base;
@tailwind components;
@tailwind utilities;

html,

body {
  background-color: #BB9878; 
  margin: 0; 
  padding: 0; 
}
.card {
  background-color: #BB9878;
  border-radius: 8px; 
  padding: 20px; 
  transition: box-shadow 0.3s; 
}

.card:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
}
.heading {
  font-size: 90px;
  font-weight: 300;
  background-image: url('https://th.bing.com/th/id/R.0360c3936753c57424ccbc5e5cebd908?rik=MWbcWs7ckxOjSw&riu=http%3a%2f%2fwww.willowfloraldesign.co.nz%2fWebsites%2f255%2fImages%2fupload%2fimage%2fweb-7081.jpg&ehk=FpWj8Hz15reuzK6AnTV8Gp8Jb1%2buIl4dUHc11vIWUOY%3d&risl=&pid=ImgRaw&r=0');
  background-size: cover; 
  background-repeat: no-repeat;
  color: transparent; 
  -webkit-background-clip: text; 
  background-clip: text; 
  margin-bottom: 10px; 
}

.heading-container {
  display: flex; 
  align-items: center; 
  margin-bottom: 20px; 
}
.flower-doodle {
  width: 50px; 
  height: auto; 
  margin-right: 10px; 
}
.detail-page {
  background-color: #60675D; 
  padding: 20px; 
  min-height: 100vh; 
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


